<%- include("template/headTemplate") %>
<body>
 
    <!-- Datos desplegados --> 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Carrera</th>
            <th scope="col">Actividad</th>
            <th scope="col">Horas</th>
          </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row">
                    <%= FormTestDatos.id %>
                </th>
                <td>
                    <%= FormTestDatos.nombreFormTest %>
                </td>
                <td>
                    <%= FormTestDatos.carreraFormTest %>
                </td>
                <td>
                    <%= FormTestDatos.actividadTest %>
                </td>
                <td>
                    <%= FormTestDatos.horasActividadTest %>
                </td>
                </tr>
                </tbody>
              </table>

        <div>
        <a class="btn btn-success btn-block" href="/FormTest/FormTestDatos">Ir a FormTestDatos</a>
        <a class="btn btn-success btn-block" id="boton_borrar_dato" data-id="<%= FormTestDatos.id %>" href="/FormTest/FormTestDatos">Borrar</a>
        </div>

</body>

<script>
    console.log('El script se está ejecutando');
  
  // Funcionalidad de botón para borrar dato encontrado 
  const boton_borrar_dato = document.querySelector('#boton_borrar_dato');

  // Confirmación por consola de que se reconoce la activación del botón 
  boton_borrar_dato.addEventListener('click', async () => {
      console.log('boton_borrar_dato Presionado');
      const dato_id = boton_borrar_dato.dataset.id;
      console.log(`id del dato a borrar= ${dato_id}`);
      try {
          // El método por defecto que usa fetch es 'get', y aquí usaremos 'delete'
          const data = await fetch(`/FormTest/Borrar/${dato_id}`, {method: 'delete'});
          // Como vamos a usar una respuesta en json, se coloca lo siguiente
          const res = await data.json();
          console.log(res);
      } catch (error) {
          console.log(error)}
  });
</script>

</html>