<%- include("template/headTemplate") %>
<%- include("template/navbar1Template") %>
<%- include("template/navbar2Template") %>

<div class="container col-md-8">

  <h2>ACTIVIDADES</h2>
  <h1>BUSQUEDA DE ACTIVIDAD</h1>

  <a href="/">Inicio</a> -> <a href="/Formulario/FormularioActividadBuscar">Buscar</a>

    <form action="/Formulario/FormularioColaboradores" method="POST">

    <div class="row p-2">
    <div class="form-group col-md-10">
      <input class="form-control" type="text" name="WALWLEEALWDLWLFAWLDKF" id="id_WALWLEEALWDLWLFAWLDKF"></input>
    </div>
    <div class="form-group col-md-2">
      <button class="btn btn-primary btn-block">BUSCAR</button>
    </div>
  </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha</th>
          <th scope="col">Responsable</th>
        </tr>
      </thead>
      <tbody>
         
        <% if (array_vcm_actividades.length > 0) { %>
            <% array_vcm_actividades.forEach(vcm_actividades => { %>
                <tr>
                    <th scope="row">
                      <%= vcm_actividades.id_actividad %>
                    </th>
                    <td>
                      <%= vcm_actividades.nombre %>
                    </td>
                    <td>
                      <%= vcm_actividades.fecha %>
                    </td>
                    <td>
                      PLACEHOLDER
                    </td>
                  </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>

</div>

</body>

</html>
