<%- include("template/headTemplate") %>
<%- include("template/navbar1Template") %>

<!-- TITULO -->
<div class="p-4">
  <h2>PROGRAMAS</h2>
  <h1>AGREGAR UN PROGRAMA</h1> 
  <a href="/">Inicio</a> -> <a href="/Formulario/Programa1">Nuevo Programa</a> -> Formulario de Nuevo Programa
</div>

<!-- FORMULARIO -->
<div class="container rounded col-md-8" style="background-color: white;">

    <form class="w-100 p-4" action="/Formulario/Programa2" method="POST">

      <div class="form-group p-2">
        <label for="id_nombrePrograma">Nombre del Programa: </label>
        <input class="form-control" type="text" name="nombrePrograma" id="id_nombrePrograma" value="<%= nombrePrograma1 %>"></input>
      </div>

      <div class="row p-2">
        <div class="form-group col-md-6">
        <label for="id_tipoPrograma">Tipo del Programa: </label>
        <label class="form-control" id="id_tipoPrograma">
          <% if (idTipoPrograma == 1) { %>
            Programa
          <% } else { %>
            Proyecto
          <% } %>
        </label>
        </div>
      </div>
      <div class="form-group p-2">
        <label for="id_descripcion">Descripción: </label>
        <input class="form-control" type="text" name="descripcion" id="id_descripcion"></input>
      </div>
      <div class="row p-2" id="campoUnidadAsociada">
        <div class="form-group col-md-6">
        <label for="id_tipoUnidadAsociada">Tipo de Unidad Asociada: </label>
        <select class="form-control" onchange="mostrarUnidadAsociada();" name="tipoUnidadAsociada" id="id_tipoUnidadAsociada">
          <option value="1">Institucional</option>
          <option value="2">Departamento</option>
          <option value="3">Carrera</option>
        </select> 
        </div>

        <div class="form-group col-md-6" id="id_campoUnidadAsociada">
          
        </div>

      </div>

</div>

<div class="p-4 d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-block" type="submit">
    <i class="bi-floppy-fill" style="font-size: 2rem; color: dodgerblue;"></i>
  </button>
  </a>
</div>

</form>

</body>

<script>

  //let variable_json = '<%- JSON.stringify(unidadAsociadaNum) %>';
  //alert(variable_json);
 
  function removerCampoUnidadAsociada(){
    let campoUnidadAsociadaViejo = document.getElementById('id_campoUnidadAsociada');
    campoUnidadAsociadaViejo.parentNode.removeChild(campoUnidadAsociadaViejo);
  };

  function anadirCampoUnidadAsociada(unidadAsociadaCodigo) {
    let campoUnidadAsociadaNuevo = document.createElement('div');
    campoUnidadAsociadaNuevo.setAttribute('class', 'form-group col-md-6');
    campoUnidadAsociadaNuevo.setAttribute('id', 'id_campoUnidadAsociada');
    campoUnidadAsociadaNuevo.innerHTML = unidadAsociadaCodigo;
    document.getElementById('campoUnidadAsociada').appendChild(campoUnidadAsociadaNuevo);
  };

  // Función para mostrar unidad asociada en formulario
  function mostrarUnidadAsociada() {
    let var_tipoUnidadAsociada = document.getElementById('id_tipoUnidadAsociada').value;

    alert('var_tipoUnidadAsociada=',var_tipoUnidadAsociada);
    alert('<%- include("template/unidadAsociada1Template") %>=');

    if (var_tipoUnidadAsociada == 1) {
      removerCampoUnidadAsociada();
      anadirCampoUnidadAsociada('<%- include("template/unidadAsociada1Template") %>');
    } else if (var_tipoUnidadAsociada == 2) {
      removerCampoUnidadAsociada();
      anadirCampoUnidadAsociada('<%- include("template/unidadAsociada2Template") %>');
    } else {
      removerCampoUnidadAsociada();
      anadirCampoUnidadAsociada('<%- include("template/unidadAsociada3Template") %>');
    };
  };

</script>

</html>
