<!-- Importar código para el estilo general de la página -->
<%- include("template/headTemplate") %>

<!-- Importar código para la barra de navegación en la parte superior de la página -->
<%- include("template/navbar1Template") %>

<!-- Página para mostrar información de actividades -->

<!-- Título -->
<div class="p-4">
<h2>
  INFORMACIÓN DE LA
</h2> 
<h1>
  ACTIVIDAD
</h1>
<a href="/">Inicio</a> -> <%= actividad.nombre %> <!--<a href="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>"><%= actividad.nombre %></a>-->
</div>

<div class="row p-2">

<!-- Formulario -->
<div class="container rounded col-md-6" style="background-color: white;">
 
    <!-- Datos desplegados -->
    <table class="table">
        <tbody>
          <tr>
            <th scope="col">
              Nombre de la Actividad
            </th>
            <td>
              <%= actividad.nombre %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Campus
            </th>
            <td>
              <% if (actividad.id_campus == 1) { %>
                Osorno
              <% } else if (actividad.id_campus == 2) { %>
                Puerto Montt
              <% } else if (actividad.id_campus == 3) { %>
                Chiloé
              <% } else { %>
                Santiago
              <% } %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Descripción
            </th>
            <td>
              <%= actividad.descripcion %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Objetivo
            </th>
            <td>
              <%= actividad.objetivo %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Tipo de Actividad
            </th>
            <td>
              <%= actividad.id_tipo_actividad %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Sistema
            </th>
            <td>
              Sistema Público
            </td>
          </tr>
          <tr>
            <th scope="col"> 
              Socio Comunitario
            </th>
            <td>
              
            </td>
          </tr>
          <tr>
            <th scope="col">
              Tipo de Destinatario
            </th>
            <td>
              <%= actividad.id_tipo_destinatario %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Fecha
            </th>
            <td>
              <%= actividad.fecha %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Lugar
            </th>
            <td>
              <%= actividad.lugar %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Instrumento Administrativo
            </th>
            <td>
              <%= actividad.id_inst_administrativo %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Financiamiento
            </th>
            <td>
              
            </td>
          </tr>
          <tr>
            <th scope="col">
              Responsable
            </th>
            <td>
              <% if (typeof(academico) == "undefined") { %>

              <% } else { %>
                <%= academico.nombre %>
              <% } %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Estado
            </th>
            <td>
              <% if (actividad.id_estado_actividad == 1) { %>
                Abierto
              <% } else { %>
                Cerrado
              <% } %>
            </td>
          </tr>
        </tbody>
      </table>

      <h4 class="container rounded" style="background-color: lightgrey;">
        CREADO POR
      </h4>
  
      <!-- Datos desplegados -->
      <table class="table">
          <tbody>
            <tr>
              <th scope="col">
                Nombre
              </th>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="col">
                Fecha
              </th>
              <td>
                
              </td>
            </tr>
          </tbody>
        </table>
</div>



<!-- PESTAÑAS EXTRA --> 
<div class="col-md-5">

  <!-- FILA 1 -->
  <div class="p-2">
    <div class="container rounded col-md-6" style="background-color: white;">
      <a type="button" class="container btn btn-block" href="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>/Interaccion">
        <i class="bi-file-text-fill" style="font-size: 2rem; color: dodgerblue;"></i>
        <div>Interacción</div>
      </a>
    </div>
  </div>

  <!-- FILA 2 -->
  <div class="p-2">
    <div class="container rounded col-md-6" style="background-color: white;">
      <a type="button" class="container btn btn-block" href="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>/Registros">
        <i class="bi-image-fill" style="font-size: 2rem; color: dodgerblue;"></i>
        <div>Registros</div>
      </a>
    </div>
  </div>

  <!-- FILA 3 -->
  <div class="p-2">
    <div class="container rounded col-md-6" style="background-color: white;">
      <a type="button" class="container btn btn-block" href="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>/Colaboradores">
        <i class="bi-people-fill" style="font-size: 2rem; color: dodgerblue;"></i>
        <div>Colaboradores</div>
      </a>
    </div>
  </div>

  <!-- FILA 4 -->
  <div class="p-2">
    <div class="container rounded col-md-6" style="background-color: white;">
      <a type="button" class="container btn btn-block" href="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>/Tributaciones">
        <i class="bi-currency-dollar" style="font-size: 2rem; color: dodgerblue;"></i>
        <div>Tributaciones</div>
      </a>
  </div>  
  </div>
  </div>

</div>

</body>

<script>
  $('#exampleModal').modal('show');
</script>

</html>
