<!-- Importar código para el estilo general de la página -->
<%- include("template/headTemplate") %>

<!-- Importar código para la barra de navegación en la parte superior de la página -->
<%- include("template/navbar1Template") %>

<!-- Página para buscar programas -->
 
<!-- Formulario -->
<div class="container col-md-8">

  <h2>PROGRAMAS</h2>
  <h1>BUSQUEDA DE PROGRAMA</h1>

  <a href="/">Inicio</a> -> Buscar 

    <form action="/Formulario/Colaboradores" method="POST">

    <div class="row p-2">
    <div class="form-group col-md-10">
      <input class="form-control" type="text" name="programaBuscar" id="id_programaBuscar"></input>
    </div>
    <div class="form-group col-md-2">
      <button class="btn btn-primary btn-block">BUSCAR</button>
    </div>
  </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Creado Por</th>
        </tr>
      </thead>
      <tbody>
         
        <% if (array_vcm_programas.length > 0) { %>
            <% array_vcm_programas.forEach(vcm_programas => { %>
                <tr>
                    <th scope="row">
                      <a href="/Formulario/ProgramaInformacion/<%= vcm_programas.id_programa %>"><%= vcm_programas.id_programa %></a>
                    </th>
                    <td>
                      <%= vcm_programas.nombre %>
                    </td>
                    <td>
                      <% if (vcm_programas.id_tipo_programa == 1) { %>
                        Programa
                      <% } else { %>
                        Proyecto
                      <% } %>
                    </td>
                    <td>
                      <%= vcm_programas.fecha %>
                    </td>
                    <td>
                      
                    </td>
                  </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>

</div>

</body>

<!--
<script> 

  let programaBuscar = document.getElementById('id_programaBuscar').value;

</script>
-->

</html>
