<!-- Importar código para el estilo general de la página -->
<%- include("template/headTemplate") %>

<!-- Importar código para la barra de navegación en la parte superior de la página -->
<%- include("template/navbar1Template") %>

<!-- Página para buscar información de programas -->

<!-- Título --> 
<div class="p-4">
  <h2>
    INFORMACIÓN DEL
  </h2>
  <h1>
    PROGRAMA
  </h1>
  <a href="/">Inicio</a> -> <%= programa.nombre %>
</div>

<!-- Formulario -->
<div class="container rounded col-md-8" style="background-color: white;">

    <!-- Datos desplegados -->
    <table class="table">
        <tbody>
          <tr>
            <th scope="col">
              Nombre del Programa
            </th>
            <td>
              <%= programa.nombre %>
            </td>
          </tr>
          <tr>
            <th scope="col"> 
              Tipo
            </th>
            <td>
              <% if (programa.id_tipo_programa == 1) { %>
                Programa
              <% } else { %>
                Proyecto
              <% } %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Descripción
            </th>
            <td>
              <%= programa.descripcion %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              Unidad Asociada
            </th>
            <td>
              <%= programa.id_unidad %>
            </td>
          </tr>
        </tbody>
      </table>

      <h4 class="container rounded" style="background-color: lightgrey;"> 
        CREADO POR
      </h4>

      <!-- Datos desplegados -->
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">
              Nombre
            </th>
            <td>
              
            </td>
          </tr>
          <tr>
            <th scope="col"> 
              Fecha
            </th>
            <td>
              <%= programa.fecha %>
            </td>
          </tr>
        </tbody>
      </table>

  </div>
  
</body>

</html>
