<!-- Importar código para el estilo general de la página -->
<%- include("template/headTemplate") %>

<!-- Importar código para la barra de navegación en la parte superior de la página -->
<%- include("template/navbar1Template") %>

<!-- Importar código para la barra de navegación en la página de actividades -->
<%- include("template/navbar2Template") %>

<!-- Página para registros --> 

<!-- Título --> 
<div class="p-4">
  <h2>
    REGISTROS DE LA
  </h2>
  <h1>
    ACTIVIDAD
  </h1>
  <a href="/">Inicio</a> -> <a href="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>"><%= actividad.nombre %></a> -> Registros
</div>

  <h2>
    ARCHIVOS-ENLACES
  </h2>

<!-- Formulario -->
<div class="container rounded col-md-8" style="background-color: white;">

    <form action="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>/Registros" method="POST">

      <!-- SECCIÓN 1 --> 
      <div class="container">
        <input type="file" id="id_subirArchivo" class="file-upload"></input>
      </div>
      
    </form>
</div>

</body>

</html> 
