<!-- Importar código para el estilo general de la página -->
<%- include("template/headTemplate") %>

<!-- Importar código para la barra de navegación en la parte superior de la página -->
<%- include("template/navbar1Template") %>

<!-- Importar código para la barra de navegación en la página de actividades -->
<%- include("template/navbar2Template") %>

<!-- Página para tributaciones --> 

<!-- Título --> 
<div class="p-4">
  <h2>
    TRIBUTACIONES DE LA
  </h2>
  <h1>
    ACTIVIDAD
  </h1>
  <a href="/">Inicio</a> -> <a href="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>"><%= actividad.nombre %></a> -> Tributaciones
</div>

<!-- Formulario -->
<div class="container rounded col-md-8" style="background-color: white;">

    <form action="/Formulario/ActividadInformacion/<%= actividad.id_actividad %>/Tributaciones" method="POST">

      <div class="row p-2">
      <div class="form-group col-md-5">
      <label for="id_tipoUnidadTributaciones">Tipo de Unidad</label>
      <select class="form-control" name="tipoUnidadTributaciones" id="id_tipoUnidadTributaciones" required>
        <option value="tipoUnidadTributaciones_institucional">Institucional</option>
        <option value="tipoUnidadTributaciones_departamento">Departamento</option>
        <option value="tipoUnidadTributaciones_opcion3">tipoUnidadTributaciones_opcion3</option>
      </select>
      </div>
      <div class="form-group col-md-5">
      <label for="id_unidadTributaciones">Unidad</label>
      <select class="form-control" name="unidadTributaciones" id="id_unidadTributaciones" required>
        <option value="unidadTributaciones_opcion1">unidadTributaciones_opcion1</option>
        <option value="unidadTributaciones_opcion2">unidadTributaciones_opcion2</option>
        <option value="unidadTributaciones_opcion3">unidadTributaciones_opcion3</option>
      </select>
      </div>
      <div class="form-group col-md-2">
      <button class="btn btn-primary btn-block" type="submit">AGREGAR</button>
      </div>
    </div>
      
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
        </tr>
      </thead>
    </table> 

    </div>

  <div class="p-4 d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary btn-block" type="submit">
      Guardar
    </button>
  </div>

</body>

</html>
