<%- include("template/headTemplate") %>
<body>
    <h1>DatosTestEncontrado.ejs</h1>
    <% if (error) { %> <!-- Actúa cuando hay error, mostrando el mensaje -->
        <h2><%= mensaje %></h2>
    <% } else { %>

    <!-- Datos desplegados -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">carrera</th>
            <th scope="col">acción</th>
          </tr>
        </thead>
        <tbody>
         
        <tr>
            <th scope="row">
                <%= DatoTestEspecifico.id %>
            </th>
            <td>
                <%= DatoTestEspecifico.nombre %>
            </td>
            <td>
                <%= DatoTestEspecifico.carrera %>
            </td>
            <td>
                <a class="btn btn-success btn-block" id="boton_borrar_dato" data-id="<%= DatoTestEspecifico.id %>" href="/DatosTest">Borrar</a>
            </td>
            </tr>
        </tbody>
      </table>

      <% } %>

    <!-- Formulario para actualizar --> 

    <% if (error) { %> <!-- Actúa cuando hay error, mostrando el mensaje -->
        <h2><%= mensaje %></h2>
    <% } else { %>

    <form id='formActualizar' data-id="<%= DatoTestEspecifico.id %>">
        <input type="text" placeholder="Nombre nuevo" name="nombreNuevo">
        <input type="text" placeholder="Carrera nueva" name="carreraNueva">
        <button class="btn btn-success btn-block" type="submit">Actualizar</button>

      <a class="btn btn-success btn-block" href="/DatosTest">Ir a DatosTest</a>

    <% } %>

</body>

<script>
    console.log('El script se está ejecutando');
    // Funcionalidad de botón para borrar dato encontrado
    const boton_borrar_dato = document.querySelector('#boton_borrar_dato');

    // Confirmación por consola de que se reconoce la activación del botón
    boton_borrar_dato.addEventListener('click', async () => {
        console.log('boton_borrar_dato Presionado');
        const dato_id = boton_borrar_dato.dataset.id;
        console.log(`id del dato a borrar= ${dato_id}`);
        try {
            // El método por defecto que usa fetch es 'get', y aquí usaremos 'delete'
            const data = await fetch(`/DatosTest/${dato_id}`, {method: 'delete'});
            // Como vamos a usar una respuesta en json, se coloca lo siguiente
            const res = await data.json();
            console.log(res);
        } catch (error) {
            console.log(error)}
    });

    // Funcionalidad de botón para actualizar dato encontrado
    const formActualizar = document.querySelector('#formActualizar');

    // Confirmación por consola de que se reconoce la activación del botón
    formActualizar.addEventListener('submit', async(e) => {
        e.preventDefault();

        // Lo siguiente requiere los atributos name de cada input
        const nombreNuevo = formActualizar.elements['nombreNuevo'].value;
        const carreraNueva = formActualizar.elements['carreraNueva'].value;

        // Se captura id del url utilizando data-id
        const id = formActualizar.dataset.id;

        console.log(`nombre nuevo=${nombreNuevo}, carrera nueva=${carreraNueva}, id de elemento a actualizar=${id}`);
        
        try {
            const data = await fetch(`/DatosTest/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombreNuevo, carreraNueva })
            },
            console.log(JSON.stringify({ nombreNuevo, carreraNueva })));

            // Respuesta
            const res = await data.json();
            console.log(`res=${res}`);
            
        } catch(error) {
            console.log(error)
        };
    });

</script>

</html>